body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000; /* Cor de fundo opcional para contraste */
}
canvas {
	border: 4px solid #fff; /* Opcional: borda para o canvas */
}